body {
    margin: 0;
    background-color: rgb(82, 86, 89);
    font-family: Segoe UI, Tahoma, sans-serif;
  }
  
 
  
    .Example header {
      background-color: rgb(50, 54, 57);
      box-shadow: 0 0 8px rgba(0, 0, 0, .5);
      padding: 20px;
      color: white;
    }
      .Example header h1 {
        font-size: inherit;
        margin: 0;
      }
    
  
    .Example__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
      padding: 10px;
    }
      .Example__container__load{
        margin-top: 1em;
        color: white;
      }
  
      .Example__container__document {
        margin: 1em 0;
      }
        .react-pdf __Document {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
  
          .react-pdf __Page {
            max-width: 100%;
            box-shadow: 0 0 8px rgba(0, 0, 0, .5);
            margin: 1em;
          }
            canvas {
              max-width: 100%;
              height: auto !important;
            }
          
  
          __message {
            padding: 20px;
            color: white;
          }
        
      
    
  