.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: blue;
}
.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background:white;
}
.color-picker-container {
    text-align: center;
}

